
<div
class="form-group input col-sm-12 col-md-12 my-2"
>
<div class="form-floating">
  <input
    [(ngModel)]="textInput"
    name="searchInput"
    #searchInput
    id="searchInput"
    type="search"
    class="form-control"
    placeholder="asdf"
    (keyup)="searchQuery($event)"
  />
  <label for="searchInput"> Bir mesaj arayın... </label>
</div>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ locale.name }}</th>
        <th scope="col">{{ locale.subject }}</th>
        <th scope="col">{{ locale.message }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of message">
        <th scope="row">{{item.id}}</th>
        <td>{{item.Name}}</td>
        <td>{{item.Subject}}</td>
        <td>{{item.Message | summary}}</td>
      </tr>
      
    </tbody>
  </table>