<footer
  class="footer d-flex flex-wrap justify-content-between align-items-center py-3 mx-auto border-top mt-auto"
>
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
    <span class="mb-3 mb-md-0 text-muted">© 2022, ÇAPKIN CENTİLMEN</span>
  </div>

  <section class="mb-4">


    <!-- Instagram -->
    <a target="_blank"
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href="https://www.instagram.com/capkin.centilmen/"
      role="button"
      data-mdb-ripple-color="dark"
      ><i class="fab fa-instagram"></i
    ></a>

    <!-- Linkedin -->
    <a target="_blank"
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href="https://api.whatsapp.com/send/?phone=905434405594&text&type=phone_number&app_absent=0"
      role="button"
      data-mdb-ripple-color="dark"
      ><i class="fab fa-whatsapp"></i
    ></a>
    <!-- Github -->
    <a target="_blank"
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href="mailto:emrecan_karaot@hotmail.com"
      role="button"
      data-mdb-ripple-color="dark"
      ><i class="fa-regular fa-envelope"></i></a>
  </section>
  <!-- Section: Social media -->
</footer>
