<div class="row featurette px-md-5 m-sm-3 my-md-5 justify-content-center">
  <div class="col-md-8 order-md-2">

    <h2 class="featurette-heading fw-normal lh-1 mt-4">
    <span class="text-muted">İlayda Abacı</span>
    </h2>
    <p class="lead" style="text-align: justify">
     Merhaba ben İlayda. Mekatronik mühendisliği mezunuyum. Yazılım ve tasarım alanlarıyla ilgileniyorum.
     Kullanızı arayüz tasarımı ve front end tasarımı ilgimi çekiyor ve kendimi geliştirmeye çalışıyorum.
    </p>
    <br />
    <p class="lead" style="text-align: justify">
      2021 yılında web yazılımı öğrenmeye başladım. Front-end'de HTML, CSS,
      SASS, JavaScript, TypeScript ve Angular kullanıyorum. Tasarımları Figma programında çiziyorum. 
    </p>
  </div>
  <div
    class="col-md-4 order-md-1 m-2"
    style="height: 300px; width: 300px; object-fit: cover; border-radius: 10%">
    <img
      style="height: 250px; width: 250px; object-fit: cover; border-radius: 10%"
      src="../../../assets/img/ilayda.jpeg"
      alt="ilayda profile picture"
    />
  </div>
</div>
