<div class="text-center mt-5 p-5" id="bg">
  <h1>İletişim</h1>
  <p><a href="" routerLink="/" id="header">Çapkın Centilmen</a> <a style="color: gray;" routerLink="/contact-us" id="header">> İletişim</a></p>
</div>
<br>
<br>
<br>
<div class="row justify-content-center text-center">
  <h1 class="mb-4">Bize Ulaşın</h1>

  <div class="col-md-3 shadow m-4  " style="width: 200px; height: 200px; border-radius:10%;" id="deneme3">
    <a href="https://www.instagram.com/capkin.centilmen/" target="_blank"><img src="../../assets/img/instagram.png" width="100" height="100"alt="" class="mt-4" ></a>
    <div class="mt-2" ><a href="https://www.instagram.com/capkin.centilmen/" target="_blank" style="text-decoration:none;"  id="ulasım">@capkin.centilmen</a></div>
    <a href="https://www.instagram.com/capkin.centilmen/"  id="ulas">Takip Et ></a>
    
  </div>
  <div class="col-md-3 shadow m-4" style="width: 200px; height: 200px; border-radius:10%;"  id="deneme3">
    <img src="../../assets/img/telephone-call.png"width="100" height="100" alt="" class="mt-4">
    <div class="mt-2"><a href="tel:905434405594" style="text-decoration:none; "  id="ulasım" >0543 440 55 94</a></div>
    <a href="tel:905434405594" id="ulas">Telefon ></a>
    
  </div>
  <div class="col-md-3 shadow m-4" style="width: 200px; height: 200px; border-radius:10%;"   id="deneme3">
    <a href="https://api.whatsapp.com/send/?phone=905434405594&text&type=phone_number&app_absent=0 " target="_blank" ><img src="../../assets/img/whatsapp.png" width="100" height="100" alt="" class="mt-4"></a>
    <div class="mt-2" > <a href="https://api.whatsapp.com/send/?phone=905434405594&text&type=phone_number&app_absent=0 " target="_blank" style="text-decoration:none; " id="ulasım">0543 440 55 94</a></div>
    <a href="https://api.whatsapp.com/send/?phone=905434405594&text&type=phone_number&app_absent=0" id="ulas">Whatsapp ></a>
   
  </div>
  <div class="col-md-3 shadow m-4 text-center"style="width: 220px; height: 200px; border-radius:10%;"  id="deneme3">
    <a href="mailto:emrecan_karaot@hotmail.com"><img src="../../assets/img/apple.png"width="100" height="100" alt="" class="mt-4"></a>
    <div class="mt-2"><a href="mailto:emrecan_karaot@hotmail.com" style="text-decoration:none; "  id="ulasım" >info@capkincentilmen.com</a></div>
    <a href="mailto:emrecan_karaot@hotmail.com" id="ulas">Mail Gönder ></a>
    
  </div>

</div>

<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <form>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >E-mail adresiniz</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Mesajınız:</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
        <button class="btn btn-outline-secondary mt-3">Gönder</button>
      </div>
    </form>
  </div>
</div>
