<div class="text-center mt-5 p-5" id="bg">
  <h1>Hakkımızda</h1>
  <p><a href="" routerLink="/" id="" >Çapkın Centilmen</a> <a style="color: gray;" routerLink="/about-us">> Hakkımızda</a></p>
</div>



<div class="row featurette px-md-5 m-sm-3 my-md-5 justify-content-center">
    <div class="col-md-8 order-md-2">
  
      <h2 class="featurette-heading fw-normal lh-1 mt-4">
      Çapkın Centilmen kimdir?
      </h2>
      <br>
      <h4>Kimden eğitim aldığınızı bilmeyi hak ediyorsunuz!</h4>
      <br>
      <p class="lead" style="text-align: justify">
        Selamlar dostlarım, ben Can. Hayatım boyunca zorluklarla karşılaştım. Hayatımda beni en çok yoran ve üzen şey arkadaşlık ve karşı cins ile olan iletişimlerimdi. Bir türlü beceremiyor, diğer erkeklerden neyim eksik diye düşünüyordum. Olayın tip ya da parayla olduğunu düşünerek bir süre kendimi kandırdım. Sokakta güzel bir kadının yanında, bakımsız bir erkek gördüğümde "Benim de param olsa ben de böyle gezerdim." diyerek enerjimi düşürürdüm. Şimdi ise insanlara aslında meselenin tip ya da parayla olmadığını öğretiyorum çünkü bunu kendime ve birçok insana kanıtladım. Sevgilileri gördüğüm zaman göğsüm daralır gibi olur ve bunaltı yaşardım. 
      </p>
      <br />
      <p class="lead" style="text-align: justify">
        İlk kazığımı ise lise 1. sınıfta yedim. Çok masum ve saf duygularla bir kızı sevmiştim. Her erkeğin hayatında bir kere karşılaştığı ya da karşılaşacağı "Ben şu an kendimi bir ilişkiye hazır hissetmiyorum." yalanıyla karşılaştım ve ertesi gün başka bir erkekle sarmaş dolaş gördüm. Tabii ki zoruma gitti ve üzüldüm lakin intikam ile hareket etmedim. O zamanlar kendime, "Bir gün öyle bir erkek olacağım ki, kadınlar bende bulduğu şeyleri başkasında bulamayacak." sözünü verdim. Kendime yaptığım ilk yatırım, gitar almak oldu. Lise son sınıfa kadar bütün gösterilerde ve okul grubunda solist/gitarist olarak yer aldım. Tabi bu dönemde de boş durmayıp bolca kitap okudum. Psikoloji, iletişim, beden dili gibi birçok alanda bilgilerimin temelini lisedeyken attım. İlk koçluğumu ise farkında olmadan bana benzer en yakın arkadaşıma yapıyordum.
      </p>
      <p class="lead" style="text-align: justify">
        Ardından Gebze Teknik Üniversite`sine yerleştim. Üniversiteye geçtiğimde durumların çok daha farklı olduğunu gördüm. Hayatımda birçok şeyi oturtmuştum lakin çevremde benim gibi iyi iletişim kurabilen erkeklere ihtiyacım olduğu için bildiklerimi arkadaşlarıma öğretmeye ve onları da yanımda olmaya hazırladım. Ayrıca bu dönemde RedPill, Pickup Art forumlarında içerik üretmeye başlamıştım. Birçoğu yabancı sitelerdi. Bu konular Türkiye`de yaygınlaşmaya başlayınca Türk sitelerinde de içerik üretmeye başladım. İçerik ürettiğim dönemde, koçluk eğitimleri almaya başladım. Şu an ICF onaylı ilişki/yaşam koçluğu sertifikam ve bunun yanı sıra NLP uygulayıcısı sertifikam bulunmaktadır. 2021 Temmuz ayında tam zamanlı olarak koçluk yapmaya başladım. Kendimi ve hayatımı koçluk yapmaya ve insanlara yardım etmeye adadım. 2021 Temmuz`dan bu yana sayamadığım ama sayısının 1000`i aştığına emin olduğum kadar insana yardım ettim. 
      </p>
      <h4>Özetle Çapkın Centilmen kimdir?</h4>
      <p class="lead" style="text-align: justify">
        Kendini iletişim, beden dili, ikna sanatı, diksiyon, kişisel bakım, kişisel gelişim, kadın-erkek ilişkileri, psikoloji, romantik ilişkiler konularına adayıp, bu alanlarda uzmanlaşmış ve insanlara da bu alanlarda yardım etmeye adanmış bir insandır. Öğrettikçe daha çok öğrenen ve en iyi hizmeti sunmaya çalışan, sizleri anlayan, sizden birisidir.
      </p>
      <p class="lead" style="text-align: justify">
        Esenle Kalın...
      </p>
      <p class="lead" style="text-align: justify">
        Can Out!
      </p>
    </div>
  </div>
  
