<div class="d-sm-flex align-items-center justify-content-center">
  <form #form="ngForm" (ngSubmit)="createAccount(form)" class="m-2 card p-5 shadow mb-5">
    <h1 class="h3 m-5 fw-normal ">
      <i class="fa-solid fa-user-pen me-2"></i>{{ locale.register }}
    </h1>

    <div class="form-group mb-3">
      <div class="form-floating">
        <input
          ngModel
          #firstName
          name="firstName"
          id="firstName"
          type="text"
          class="form-control"
          placeholder="Ragnar"
        />
        <label for="firstName">{{ locale.firstname }}</label>
      </div>
    </div>

    <div class="form-group mb-3">
      <div class="form-floating">
        <input
          ngModel
          #lastName
          name="lastName"
          id="lastName"
          type="text"
          class="form-control"
          placeholder="Lothbrok"
        />
        <label for="lastName">{{ locale.lastname }}</label>
      </div>
    </div>

    <!-- (click)="log(userName)" -->
    <div class="form-group mb-3">
      <div class="form-floating">
        <input
          ngModel
          #userName
          name="username"
          id="userName"
          type="userName"
          class="form-control"
          placeholder="asdf"
        />
        <label for="userName">{{ locale.username }}</label>
      </div>
    </div>

    <div class="form-group mb-3">
      <div class="form-floating">
        <input
          ngModel
          #password
          name="password"
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="********"
        />
        <label for="floatingPassword">{{ locale.password }}</label>
      </div>
    </div>

    <button class="w-100 btn btn-lg btn-secondary" type="submit" id="btnSignup">
      {{ locale.send }}
    </button>
  </form>
</div>
