a{
    text-decoration: none;
    color: black;
}

#header:hover{
    color: darkred;
    font-size: large;
}


#bg{
    background-image: url(../../assets/img/bgh.jpg);
    -moz-background-size: 100% 100%;           /* Firefox 3.6 */
	-o-background-size: 100% 100%;           /* Opera 9.5 */
	-webkit-background-size: 100% 100%;           /* Safari 3.0, Chrome */
	background-size: 100% 100%;  
}