<div class="text-center mt-5 p-5" id="bg">
    <h1>Sık Sorulan Sorular (SSS)</h1>
    <p><a href="" routerLink="/" id="header">Çapkın Centilmen</a> <a style="color: gray;" routerLink="/sık-sorulan-sorular" id="header">> Sık Sorulan Sorular </a></p>
</div>
<div  class="row featurette px-md-5 m-sm-3 my-md-5 justify-content-center">
    <h4>> Bireysel koçluk süresi nasıl işler?</h4>
    <p>Siparişinizi oluşturduktan sonra sizinle whatsapp üzerinden iletişime geçerim. Koçluğumuz whatsapp üzerinden bire bir şekilde gerçekleşmektedir.</p>
    <br>
    <h4>> Koçluğa ek kaynaklar tarafıma nasıl ulaşır?</h4>
    <p>Whatsapp üzerinden tarafınıza mesaj yoluyla iletilir.</p>
    <br>
    <h4>> Verdiğim bilgiler ve konuşmalarımız 3. tarafla paylaşılır mı?</h4>
    <p>Verdiğiniz bilgiler KVKK (kişisel verileri koruma kanunu) kapsamında korunmaktadır ve hiçbir 3. taraf ile paylaşılmaz. 
        Koçluktaki başarılı sonuçlar ve sizin yorumlarınız sadece rızanız ile paylaşılır.</p>
    <br>
    <h4>​​​​​​> ​Kitap mı almalıyım koçluk mu?</h4>
    <p>Kitaplar hazır içeriklerdir, sizlerin sorununuza özel olarak üretilmemiştir. İçindekiler kısmı şeffaf şekilde sizlerle paylaşılmıştır, içinde yer alan bilgilere ihtiyacınız olduğunu düşündüğünüz taktirde satın alabilirsiniz.
        <br>
        Koçluk size özel eğitim serüvenidir. Ek kaynaklar bonus olarak koçluk paketinin içerisine yerleştirilmiştir. Koçlukta asıl olay, bire bir olarak özel eğitim almanız ve soru sorarak size özel sorunların cevabını bulmaktır. Bireysel koçluk paketlerinin kendilerine has özellikleri bulunmaktadır, bu özelliklerden de süreniz boyunca dilediğiniz gibi faydalanabilirsiniz.</p>
    <br>
    <h4>​​​​​​​> Bireysel koçlukta ben yazmazsam koç bana yazmıyor mu?</h4>
    <p>Hayır, bütün danışanlarımı özel olarak takip ediyor ve en geç 2 günde 1 mesaj atarak genel durum bilgisi alıyorum ve sorularının olup olmadığını soruyorum.</p>
    <br>
    <h4>> Bireysel koçlukta ben soru sormazsam hiçbir şey öğrenemiyor muyum?</h4>
    <p>Hayır, bireysel koçlukta sizler için hazırlanmış belli bir müfredat bulunmaktadır. Bu müfredat ile birçok bilgi ediniyorsunuz. Süreç boyunca bilgi edindiğiniz için aklınıza birçok soru gelecektir. </p>
    <br>
    <h4>> Benim sorum kısa illa koçluk mu almam gerekiyor?</h4>
    <p>Hayır, koçluk gerektirmediğini düşündüğünüz kısa ilişki ya da herhangi sorunlarınızı telefon görüşmesi alarak sorabilirsiniz.</p>
    <br>
</div>

