<div class="container">
  <div class="row">
    <div
      class="form-group input col-sm-12 col-md-8 my-2"
      style="padding-inline: 5px"
    >
      <div class="form-floating">
        <input
          [(ngModel)]="textInput"
          name="searchInput"
          #searchInput
          id="searchInput"
          type="search"
          class="form-control"
          placeholder="asdf"
          (keyup)="searchQuery($event)"
        />
        <label for="searchInput"> Bir çalışan arayın... </label>
      </div>
    </div>

    <div
      *ngIf="innerScreenWidth > 768"
      class="btn-group col-sm-12 col-md-2 my-2"
      style="padding-inline: 4px"
      role="group"
    >
      <button
        class="btn"
        [ngClass]="{
          'btn-secondary': !isListView,
          'btn-outline-secondary': isListView
        }"
        (click)="changeView(false)"
      >
        <i class="fa-solid fa-grip"></i>
      </button>
      <button
        class="btn btn-outline-secondary"
        [ngClass]="{
          'btn-secondary': isListView,
          'btn-outline-secondary': !isListView
        }"
        (click)="changeView(true)"
      >
        <i class="fa-solid fa-list"></i>
      </button>
    </div>

    <div class="btn-group col-sm-12 col-md-2 my-2" role="group">
      <button
        class="btn btn-secondary"
        style="padding-inline: 0px !important"
        (click)="openCreateModal()"
      >
        <i class="fa-solid fa-file-circle-plus"></i> Yeni çalışan
      </button>
    </div>
  </div>

  <div class="row">
    <ng-container *ngIf="employees.length > 0; else noEmployees">
      <div
        *ngFor="let employee of employees | paginate: { itemsPerPage:6 , currentPage: p }"
        [ngClass]="{
          'row col-12 my-2': isListView,
          'col-md-6 col-lg-4 col-xl-4 col-xxl-4 my-1 px-1': !isListView
        }"
      >
        <div
          class="card shadow-sm"
          [ngClass]="
            isListView
              ? 'card shadow-sm d-flex flex-md-row mb-2'
              : 'card shadow-sm'
          "
          [style.height]="isListView ? '180px' : '340px'"
        >
          <!-- style="height: 250px" -->
          <div
            class="d-flex justify-content-center img-frame"
            [ngClass]="{
              'me-auto col-4': isListView,
              'mx-auto flex-grow-1': !isListView
            }"
            style="overflow: hidden"
          >
            <img
              *ngIf="!isListView; else listViewImage"
              class="img-fluid mt-2"
              src="http://localhost:3030/api/employees/images/{{
                employee.imageName
              }}"
              alt="{{ employee.name }}"
              style="height: 90%; width: 100%; object-fit: cover; border-radius: 50%"
              
            />
            <ng-template #listViewImage>
              <img
                class="img-fluid mt-2"
                src="http://localhost:3030/api/employees/images/{{
                  employee.imageName
                }}"
                alt="{{ employee.name }}"
                style="height: 90%; width: auto; object-fit: contain ; border-radius: 50%"
              />
            </ng-template>
          </div>

          <div
            class="row col-8 card-body justify-content-around"
            [ngClass]="{
              'col-8 align-items-center justify-content-around': isListView,
              'd-flex flex-column flex-grow-0': !isListView
            }"
          >
            <h6
              [ngClass]="{
                'col-4 card-text': isListView,
                'card-text text-center mt-auto': !isListView
              }"
            >
              {{ employee.firstName }} {{ employee.lastName }}
            </h6>

            <div
              class="d-flex gap-2 justify-content-center"
              [ngClass]="{
                'flex-column col-4 ': isListView,
                'justify-content-around mt mb-2': !isListView
              }"
            >
              <span>{{ employee.title }}</span>
              <span>{{ employee.city }}, {{ employee.country }}</span>
              <span>{{ employee.birthDate }}</span>
            </div>

            <div
              class="d-flex gap-2 align-content-stretch"
              [ngClass]="{
                'col-4 flex-column': isListView,
                'align-items-center justify-content-around': !isListView
              }"
            >
              <button
                type="button"
                class="btn btn-sm btn-outline-primary"
                (click)="openDetailsModal(employee)"
              >
                Detaylar
              </button>
              <button
                type="button"
                class="btn btn-sm btn-outline-warning"
                (click)="openEditModal(employee)"
              >
                Düzenle
              </button>
              <button
                type="button"
                class="btn btn-sm btn-outline-danger"
                (click)="openDeleteModal(employee)"
              >
                Sil
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noEmployees>
      <div class="alert alert-danger">Ürün bulunamadı.</div>
    </ng-template>
    <pagination-controls class="d-flex justify-content-center mt-3" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
