<div class="modal-header">
  <h4 class="modal-title">
    <strong>Kişi Düzenleme:</strong> {{ employee.firstName }}
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <!-- Modal Body -->
  <!-- #employeeForm="ngForm" -->
  <form
    [formGroup]="editEmployeeForm"
    (ngSubmit)="editEmployee(editEmployeeForm)"
  >
    <div class="d-flex flex-column gap-1">
      <div class="form-group mb-2">
        <div class="form-floating">
          <input
            [ngModel]="employee.firstName"
            formControlName="employee.firstName"
            name="firstName"
            id="employeeFirstName"
            type="text"
            class="form-control"
            placeholder="a"
            minlength="2"
            required
          />
          <label for="employeeFirstName"> İsim </label>
        </div>
      </div>
      <div class="form-group mb-2">
        <div class="form-floating">
          <input
            [ngModel]="employee.lastName"
            formControlName="lastName"
            name="lastName"
            id="employeeLastName"
            type="text"
            class="form-control"
            placeholder="a"
            minlength="2"
            required
          />
          <label for="employeeLastName"> Soyisim </label>
        </div>
      </div>
      <div class="form-group mb-2">
        <div class="form-floating">
          <input
            [ngModel]="employee.title"
            formControlName="title"
            name="title"
            id="employeeTitle"
            type="text"
            class="form-control"
            placeholder="a"
            minlength="2"
            required
          />
          <label for="employeeTitle"> Pozisyon </label>
        </div>
      </div>
      <div class="form-group mb-2">
        <div class="form-floating">
          <input
            [ngModel]="employee.country"
            formControlName="country"
            name="country"
            id="employeeCountry"
            type="text"
            class="form-control"
            placeholder="a"
            minlength="2"
            required
          />
          <label for="employeeCountry"> Ülke </label>
        </div>
      </div>
      <div class="form-group mb-2">
        <div class="form-floating">
          <input
            [ngModel]="employee.city"
            formControlName="city"
            name="city"
            id="employeeCity"
            type="text"
            class="form-control"
            placeholder="a"
            minlength="2"
            required
          />
          <label for="employeeCity"> Şehir </label>
        </div>
      </div>
      <div class="form-group mb-2">
        <div class="form-floating">
          <input
            [ngModel]="employee.birthDate"
            formControlName="birthDate"
            name="birthDate"
            id="employeeBirthDate"
            type="date"
            class="form-control"
            placeholder="a"
            required
          />
          <label for="employeeBirthDate"> Doğum tarihi </label>
        </div>
      </div>
      <div class="form-group mb-2">
        <div class="form-floating">
          <input
            [ngModel]="employee.imageName"
            formControlName="imageName"
            name="imageName"
            id="employeeImage"
            type="text"
            class="form-control"
            placeholder="a"
            minlength="5"
            required
          />
          <label for="employeeImage"> Image URL </label>
        </div>
      </div>
    </div>
    <!-- Modal Body -->
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="activeModal.close('Close click')"
      >
        Close</button
      ><button type="submit" class="btn btn-warning">Edit</button>
    </div>
  </form>
</div>
