<div class="container d-flex flex-column">
  <app-header class="mb-5"></app-header>
  <br>
  
  <router-outlet class="mt-5" >
    <a href="https://api.whatsapp.com/send/?phone=905434405594&text&type=phone_number&app_absent=0" target="_blank"><img src="../assets/icons/wp.png" alt="" class="sabit" width="50px"></a>
    <a href="https://www.instagram.com/capkin.centilmen/" target="_blank"><img src="../assets/icons/ins.png" alt="" class="sabit2" width="50px"></a>
  </router-outlet>
  
  <app-footer></app-footer>
</div>
